.board {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 5px;
    background-color: #333;
    width: fit-content;
    margin: 20px auto;
    }
.cell {
    background-color: rgb(46, 247, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ccc;
}
.info-panel {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 620px;
    margin: 0 auto 20px auto;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 8px;
}
.names input {
    width: 100px;
    margin: 0 5px;
}
.timer {
    font-size: 1.2rem;
    font-weight: bold;
}